{% extends 'base.html'%}
{%block title%}System Login Page{%endblock%}
{%block content%}
<form style="margin-top:50px;" method="post">
    {{form.csrf_token}}
    <div class="row g-2">
      <div class="col-md-6 offset-md-3">
        <div class="form-floating">
            {{form.user_id(class='form-control', placeholder='User ID')}}
            {{form.user_id.label}}
        </div>
      </div>
    </div><br>
    <div class="row g-2">
      <div class="col-md-6 offset-md-3">
        <div class="form-floating">
            {{form.user_pwd(class='form-control', placeholder='User ID')}}
            {{form.user_pwd.label}}
        </div>
      </div>
    </div><br>
    <div class="row g-2">
        <div class="col-md-6 offset-md-3">
            <div class="d-grid">
                <button class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</form>
{%endblock%}
<script>{% block script %}&nbsp;{%endblock%}</script>